name: "0.1.0-$(Rev:r)"
trigger:
  batch: true
  branches:
    include:
      - master

pool:
  vmImage: "Ubuntu-16.04"

steps:
  - task: CopyFiles@2
    displayName: "Copy Files to: $(build.artifactstagingdirectory)"
    inputs:
      Contents: |
        templates/**
      TargetFolder: "$(build.artifactstagingdirectory)/publish"
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact"
    inputs:
      PathtoPublish: "$(build.artifactstagingdirectory)/publish"
