# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
- name: InfluxDB
  orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: InfluxDB
  type: influxdb
  access: proxy
  url:             "https://${influxdb_hostname}:${influxdb_port}"
  basicAuthUser:   "${influxdb_username}"
  database:        "_internal"
  basicAuth:       true
  isDefault:       false
  editable:        false
  jsonData:
       timeInterval: "15s"
  secureJsonData:
       basicAuthPassword:    "${influxdb_password}"
