global:
  scrape_interval: 10s

scrape_configs:
- job_name: ${paas_prometheus_exporter_name}
  scheme: https
  static_configs:
    - targets: [${paas_prometheus_exporter_endpoint}]
%{ if include_redis_exporter }
- job_name: RedisExporter
  scheme: https
  static_configs:
    - targets: [${redis_prometheus_exporter_endpoint}]
%{ endif }
%{ if include_scrapes }
${scrapes}
%{ endif }

%{ if include_alerting }
alerting:
  alertmanagers:
  - scheme: https
    static_configs:
    - targets: [${alertmanager_endpoint}]

rule_files:
  - alert.rules
%{ endif }
